* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 800px;
}

.main-visual-item1 {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-item2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-item3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-item4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
